*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    width: 1000px;
    height: 800px;
    background-color:beige;
}
.name{
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    text-align: center;
    margin-top: 2%;
}
.Lengu{
    display:block;
    height: 100%;
    width:100%;
    padding: 50px;
    display: flex;
    background-color: beige;
}
.d{
    height: 100%;
    width: 100%;
    border:  5px solid rgb(0, 0, 0) ;
    border-style: double;
    


}
.img{
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 100px;
    margin-top:80px;
}
.html{
    padding: 120px;
    margin: 2%;
    background-color:#7ED7EB;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    
}
.css{
    padding: 120px;
    margin: 12%;
    background-color:#8EE1CD;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
   
}
.javascript{
    padding: 120px;
    margin: 22%;
    background-color:#f07768;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    
}

a{
    text-decoration: none;
    color: black;
}